main{
	max-width: 800px;
}
.kepek{
	width: 100%;
	padding: 5%;
	border: 1px white solid;
	padding-top: 10px;
}
#footer{
	text-align: center;
}
.divkep{
	
}
nav ul{
	display: grid;
	grid-template-columns: repeat(3, 200px);
	list-style-type: none;
	padding: 0px;
	margin: 0px;

	
}
nav li{
	background-color: rgb(8, 126, 8);
	list-style: none;
	text-align: center;
	padding: 10px;
}
nav ul li a{
	
	float: left;
	padding: 10px 40px 10px 40px;
	text-decoration: none;
	color: rgb(255, 194, 25);
	
}
article {
	display: grid;
	grid-template-columns:repeat(4, 100px); /* : hany darab , meret*/
	/*grid-template-rows:70px 70px 70px;*/
	grid-template-rows:repeat(3, 120px);
	text-align: center;
	border: 1px solid black;
	background-color: rgb(46, 46, 46);
	grid-gap: 10px;
}
